:root {
  --scrolbar-category-list: none;
  --scrolbar-task-list: none;
}

/* @keyframes taskShowing {
  from {
    width: 863px;
  }

  to {
    width: 863px;
  }
} */

body {
  height: 100vh;
  background-color: #EEF1F6;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

::-webkit-scrollbar{
  background-color: transparent;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.app{
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 632px;
  -webkit-box-shadow: 1px 3px 17px -4px #000000; 
  box-shadow: 1px 3px 10px -4px #000000;
  border-radius: 5px;
}

/*------------------HEADER*/

.header{
  height: 133px;
  width: 1280px;
  display: flex;
}

.header__user {
  display: flex;
  align-items: center;
  padding-left: 40px;
  min-width: 330px;
  background-color: #FEFEFF;
  border-bottom: 1px solid #1E1926;
  border-right: 1px solid #1E1926;
}

.header-user__btn{
  height: 55px;
  width: 55px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-user__logo {
  height: 50px;
  min-width: 50px;
}

.header-user__name {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 600;
}

.header-info {
  display: flex;
  width: 910px;
  justify-content: space-between;
  padding-left: 40px;
  background: linear-gradient(91.01deg, rgba(103, 70, 239, 0.54) -3.98%, rgba(226, 106, 68, 0.15) 101.41%);
}

.header-info__left {
  height: 123px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-info__list-name {
  font-weight: 700;
  font-size: 28px;
  color: #FEFEFF;
  margin-bottom: 10px;
}

.header-info__weather {
  display: flex;
  align-items: center;
}

.header-info__weather-descr--top {
  font-weight: 700;
  font-size: 28px;
  min-width: 150px;
  color: #FEFEFF;
}

.header-info__right {
  height: 123px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header-info__date {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 26px;
  color: #FEFEFF;
}

.header-info__date-mounth {
  margin-left: 20px;
}

.header-info__right-weather{
  display: flex;
  flex-direction: column;
}

.header-info__weather-descr--bottom{
  display: flex;
}

.header-info__weather-temperature {
  font-weight: 600;
  font-size: 26px;
  color: #FEFEFF;
  margin-left: 15px;
}

.header-info__weather-city{
  font-weight: 600;
  font-size: 26px;
  color: #FEFEFF;
  margin-left: 30px;
}

/*--------------MAIN*/


/*Main List*/
.main {
  height: 547px;
  display: flex;
}

.main-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 370px;
  height: 100%;
  border-right: 1px solid #1E1926;
  background-color: #FEFEFF;
}
.main-category__list {
  display: flex;
  height: 429px;
  flex-direction: column;
  margin-top: 25px;
  overflow-y: var(--scrolbar-category-list);
}

.main-category__list::-webkit-scrollbar{
  width: 10px;
}

.main-category__list::-webkit-scrollbar-track{
  background: rgba(226, 226, 226, 0.911);
  border-radius: 5px;
}
.main-category__list::-webkit-scrollbar-thumb{
  background-color: #ffb300c3;
  border-radius: 5px;
}


.main-category__list-item {
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;
  border-top: 1px solid #1E1926;
  border-bottom: 1px solid #1E1926;
  margin: 5px 0px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all .4s;
}

.main-category__list-item:hover{
  background-color: #CEC3FE;
}

.main-category__name {
  display: block;
  margin-left: 30px;
}

.add-list__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: none;
  border-top: 1px solid #1E1926;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all .4s;
}

.add-list__btn:hover{
  background-color: #CEC3FE;
}

.add-list__btn img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.add-list__btn span {
  display: block;
}

/*Main Tasks*/

.main-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-tasks__header {
  width: 863px;
  height: 77px;
  background-color: rgba(226, 106, 68, 0.13);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.new-task__text{
  width: 772px;
  height: 48px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 5px;
}

.new-task__text:focus{
  outline: none;
}

.new-task__add-btn{
  width: 60px;
  height: 48px;
  background: rgba(144, 120, 240, 0.87);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #FFFFFF;
  margin-left: 7px;
  cursor: pointer;
  transition: all .3s;
}

.new-task__add-btn:hover{
  background-color: #fff;
  background-color: #FFB400;
}

.main-tasks__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-tasks__list{
  height: 349px;
  overflow-y: var(--scrolbar-task-list);
}

.main-tasks__list::-webkit-scrollbar{
  width: 10px;
}

.main-tasks__list::-webkit-scrollbar-track{
  background: rgba(226, 226, 226, 0.911);
  border-radius: 5px;
}
.main-tasks__list::-webkit-scrollbar-thumb{
  background-color: #ffb300c3;
  border-radius: 5px;
}

.main-tasks__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 863px;
  min-height: 67px;
  background-color: #FEFEFF;
  margin-bottom: 10px;
  /* animation-duration: 0.5s;
  animation-name: taskShowing; */
  border-radius: 5px;
  transition: 0.4s;
}

.main-tasks__list-item--favorite {
  background-color: #EDE0DF;
  border: 2px solid #FBC34E;
}

.task-check {
  width: 27px;
  height: 27px;
}
.task-text {
  width: 650px;
  margin: 10px 0;
}

.task-btns{
  display: flex;
}

.task-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}

.task-btns button:hover{
  transform: scale(1.1);
}
